<!doctype html>
<html lang="{{page.lang}}">

<head>
    <!-- Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WFP5KCQ');
    </script>
    <!-- End Google Tag Manager -->

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.png" type="image/png">

    <link rel="alternate" hreflang="fi" href="/" />
    <link rel="alternate" hreflang="en" href="/en" />

    <title>{{ page.title }}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="vendors/linericon/style.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="vendors/lightbox/simpleLightbox.css">
    <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="vendors/animate-css/animate.css">
    <link rel="stylesheet" href="vendors/popup/magnific-popup.css">
    <!-- main css -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">

    <meta name=”robots” content="index, follow">
    <meta name="description" content="{{page.description}}" />

    <meta property="og:type" content="website">
    <meta property="og:image" content="{{page.og_image}}">
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:description" content="{{page.description}}">
    <meta property="og:url" content="{{page.og_url}}">
</head>

<body data-spy="scroll" data-target="#mainNav" data-offset="70">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WFP5KCQ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!--================Header Menu Area =================-->
    <header class="header_area">
        <div class="main_menu" id="mainNav">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="index.html"><img src="img/logo_transparent_white_sm.png" alt="" height="60px"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item active"><a class="nav-link" href="#home">{{ page.nav_home }}</a></li>
                            <li class="nav-item"><a class="nav-link" href="#feature">{{ page.nav_feature }}</a></li>
                            <li class="nav-item"><a class="nav-link" href="#contact">{{ page.nav_contact }}</a></li>

                            {% if page.lang == 'en' %}
                                <li class="nav-item"><a class="nav-link" href="/">In finnish</a></li>
                            {% else %}
                                <li class="nav-item"><a class="nav-link" href="/en">In english</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--================Header Menu Area =================-->

    <!--================Home Banner Area =================-->
    <section class="home_banner_area" id="home">
        <div class="banner_inner">
            <div class="container">
                <div class="row banner_content">
                    <div class="col-lg-9">
                        <h1>{{page.banner_area_headline}}</h1>
                        <p>{{page.banner_area_paragraph}}</p>
                        <a class="banner_btn" href="#contact">{{page.call_to_action_title}}</a>
                    </div>
                    <div class="col-lg-3">
                        <div class="banner_map_img">
                            <img class="img-fluid" src="{{page.banner_image}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Feature Area =================-->
    <section class="feature_area p_120" id="feature">
        <div class="container">
            <div class="main_title">
                <h2>{{page.feature_heading}}</h2>
                <p>{{page.feature_paragraph}}</p>
            </div>
            <div class="feature_inner row">
                {% for feature in page.features %}
                    <div class="col-lg-3 col-md-6">
                        <div class="feature_item">
                            <img src="{{feature.image}}" alt="" width="100px">
                            <h4>{{feature.heading}}</h4>
                            <p>{{feature.description}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--================End Feature Area =================-->

    <!--================Interior Area =================-->
    <section class="interior_area">
        <div class="container">
            <div class="interior_inner row">
                <div class="col-lg-6">
                    <img class="img-fluid" src="img/interior-1-3.jpg" alt="">
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="interior_text">
                        <h4>{{page.interior_heading}}</h4>
                        <p>{{page.interior_paragraph}}</p>
                        <p>{{page.interior_paragraph2}}</p>
                        <a class="main_btn" href="#contact">{{page.call_to_action_title}}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Interior Area =================-->


    <!--================Download App Area =================-->
    <section class="download_app_area p_120" id="contact">
        <div class="container">
            <div class="app_inner">
                <h2>{{ page.contact_form_heading }}</h2>
                <form class="row contact_form" action="{{ page.contact_form_action_url }}" method="POST" id="contactForm" novalidate="novalidate">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" name="name" placeholder="{{ page.contact_form_name_placeholder }}">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" name="_replyto" placeholder="{{ page.contact_form_email_placeholder }}">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="subject" name="subject" placeholder="{{ page.contact_form_subject_placeholder }}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea class="form-control" name="message" id="message" rows="1" placeholder="{{ page.contact_form_message_placeholder }}"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12 text-right">
                        <button type="submit" value="submit" class="btn banner_btn">{{page.contact_form_submit}}</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!--================End Download App Area =================-->

    <!--================ start footer Area  =================-->
    <footer class="footer-area p_120">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-6">
                    <div class="single-footer-widget news_widgets">
                        <h6 class="footer_title">{{page.footer_contact_title}}</h6>
                        <p>{{page.footer_contact_content}}</p>
                        <!-- <div id="mc_embed_signup">
                            <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                                <div class="input-group d-flex flex-row">
                                    <input name="EMAIL" placeholder="Your email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                    <button class="btn sub-btn">Get Started</button>
                                </div>
                                <div class="mt-10 info"></div>
                            </form>
                        </div> -->
                    </div>
                </div>
            </div>
    </footer>
    <!--================ End footer Area  =================-->





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/stellar.js"></script>
    <script src="vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="vendors/isotope/isotope-min.js"></script>
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="vendors/counter-up/jquery.waypoints.min.js"></script>
    <script src="vendors/counter-up/jquery.counterup.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="vendors/popup/jquery.magnific-popup.min.js"></script>
    <script src="js/theme.js"></script>
</body>

</html>